<h1>Perfil</h1>
<p>Seguindo Seguidores</p>
<h5><%= "#{@user.name} #{@user.username}" %></h5>
<h5><%= @user.email %></h5>
<h1>Tweets</h1>

<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
