<div class="row">
  <%= render "shared/profile_card", user: @user %>
  <div class="col m8">
    <%= render "posts/form" %>
    <% @user.posts.each do |post| %>
      <%= render "shared/post", post: post %>
    <% end %>
  </div>
</div>
]
