<div class="card horizontal">
  <div class="card-image">
    <img src="https://lorempixel.com/50/50/cats">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p><%= post.content %></p>
    </div>
    <div class="card-action">
      <a href="#"><%= post.user.name %></a>
    </div>
  </div>
</div>
