<div class="row">
  <div class="col s10">

    <div class="card-panel grey lighten-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        <div class="row">
          <%= form_for Post.new, html: {class: "form col s12"} do |f| %>
            <div class="input-field col s12">
              <%= f.text_area :content, autofocus: true %>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Postar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          <% end %>
      </div>
      </div>
    </div>

  </div>
